<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">CONFIRM FORM</h1>
  <form class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center" style="width: 380px;">
    <input class="m-2 p-2 text-center w-100" type="hidden"  id="event-id" value={{eventId}}/>
     <input class="m-2 p-2 text-center w-100" type="text" name="nickname" id="nickname" placeholder="NOMBRE" />
    <input class="m-2 p-2 text-center btn btn-success w-100" type="button" id="confirm" value="CONFIRM" />
    <input class="m-2 p-2 text-center btn btn-success w-100" type="button" id="decline" value="DECLINE" />
  </form>
</main>
<script src="/scripts/confirm.js"></script>